@font-face{
    font-family:'SeguiUI';
    src: url('../fon/SeguiUI.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face{
    font-family:'SeguiUI';
    src: url('../fon/SeguiUI.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}